#Wed Nov 16 12:17:18 IST 2022
mail.smtp.toEmail=ENC1(4jHMGxSf9uMtDBLUBQJGJVgMxIXawcMUEmXm/e0HTUO6hOJWK6gCCrRn6afj3bJiYC8eUJXVNo0GYivB/qCD3A\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(8wxJNacwr55UdDff7JtGNzvQN/T4SEjHuBG15nE6eqDRTTcW4WWwxFCReFjWJud0/63DkhthH1lDdRe4IG9vwA\=\=)
mail.smtp.password=ENC1(IsRs5jyExvh2UB0R2xH75g98ZGT2vH4NsAZxBAgnXtq0Itb4fLxC7WhHbuct2FOGW6J9t79FJbsiKvecElhKSA\=\=)
mail.smtp.other.host=
